*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: cornflowerblue;
}
nav{
    display: flex;
    background-color: black;
    color: wheat;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
nav,ul{
    display: flex;
    list-style-type: none;
}
nav,ul,li {
    margin: 0;
    padding: 10px 20px;
}
nav,ul,li,a{
    text-decoration: none;
    color: yellowgreen;
    padding: 5px;
}
button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: rgb(243, 236, 236);
    font-weight: bold;
}
.signin{
    background-color: green;
}
.signup{
    background-color: green;
}